<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <button class="btn btn-primary" style="background: #21254f;
      color: #fff;
      border: 1px solid #fff;"><i class="pi pi-bars"></i></button>
      <!-- <div class="dropdown">
        <button id="dLabel" type="button" class="btn-drop-border" data-bs-toggle="dropdown" aria-expanded="false">
          <a class="nav-link dropdown-toggle" href="javascript: void(0)" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <img src="../../../assets/logo-dark.png" width="40" height="40" class="rounded-circle">
          </a>
        </button>
        <ul class="dropdown-menu" aria-labelledby="dLabel">
          <li class="nav-item dropdown">
              <a class="dropdown-item" href="javascript: void(0)"  [routerLink] = "'/profile'">Profile</a>
              <a class="dropdown-item" href="javascript: void(0)" >Log Out</a>
          </li>  
        </ul>
      </div> -->
    </div>
  </nav>